* {
  background-color: rgb(79, 93, 116);
  list-style: none;
}

button {
  cursor: pointer;
}

input {
  font-size: x-large;
}
li {
  text-transform: uppercase;
}

#game-container {
  max-width: 45rem;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 6px;
  background: linear-gradient(#383624, #282617);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#players {
  display: flex;

  justify-content: center;
  gap: 20%;
  padding: 0.5rem;
  border: 5px solid rgb(78, 142, 145);
}

#game-board{
  display: flex;
  justify-content: center;
}

#game-board button {
  width: 8rem;
  height: 8rem;
  border: none;
  background: #aca788;
  color: #3f3b00;
  font-size: 5rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.active{
  border:0.2rem solid;
}